<header>
  <h1><%= @user.name %></h1>
  <p>
  <span>Number of posts: </span>
  <span><%= @user.posts_counter || 0 %></span>
  </p>
  <hr/>
</header>

<section>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
  <hr/>
</section>

<section>
  <div>
    <% @user.recent_posts.each do |post| %>
      <h3>
      <%= link_to link_to post.title, user_post_path(@user.id, post.id) %>
      </h3>
      <p><%= post.text %></p>
    <% end %>
  </div>
  
  <button>
    <%= link_to 'See all posts', user_posts_url(@user) %>
  </button>
</section>
