<div id="home">
  <%= link_to root_path do %>
    <i class="bi bi-house-door-fill"></i>
  <% end %>
</div>

<section class="container">

<%= render "nav" %>

<section class="p-4 my-3 border border-1 col-12">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</section>

  <ul class="list-group my-3 col-12">
    <% @user.recent_posts.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id) do %>

      <li class="border border-1 list-group-item my-2 bg-primary text-white">
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
      </li>
      <% end %>

    <% end %>
  </ul>
<%= link_to 'See all posts', user_posts_url(@user), class: "btn btn-outline-dark ms-auto mb-3" %>
<div>
</section>