<header>
  <h1><%= @user.name %></h1>
  <p>Number of posts: <%= @user.posts_counter || 0 %></p>
  <hr/>
</header>

<section>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
  <hr/>
</section>

<section>
  <div>
    <% @user.posts.each do |post| %>
      <h3>
      <%= link_to link_to post.title, user_post_path(@user.id, post.id) %>
      </h3>
      <p><%= post.text %></p>
    <% end %>
  </div>
  <button>See all posts</button>
</section>
