<%= render "nav" %>

<section class="p-4 my-3 border border-1 col-12">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</section>

<section class="p-4 my-3 border border-1 col-12">
  <div>
    <% @user.recent_posts.each do |post| %>
      <h3>
      <%= link_to link_to post.title, user_post_path(@user.id, post.id) %>
      </h3>
      <p><%= post.text %></p>
    <% end %>
  </div>
</section>
<%= link_to 'See all posts', user_posts_url(@user), class: "btn btn btn-outline-dark d-grid gap-2 col-3 mx-auto" %>

