<%= render "users/nav" %>

<section>
  <%= link_to "New Post", new_user_post_path %>
  <br/>
  <% @user.posts.each do |post| %>
    <article class="p-4 my-3 border border-1 col-12>
      <%= link_to link_to post.title, user_post_path(@user.id, post.id) %>
      <p><%= post.text %></p>
      <span>Comments: <%= post.comments_counter%>,</span>
      <span>Likes: <%= post.likes_counter %></span>
    </article>

    <% post.five_recent_comments.each do |comment| %>
      <div class="p-4 my-3 border border-1 col-12">
        <p><%= comment.author.name %>: <%= comment.text %></p>
      </div>
    <% end %>
  <% end %>
</section>
<br/>

<button class="btn btn-outline-dark d-grid gap-2 col-3 mx-auto">Pagination</button>
