<h1>New Post</h1>

<%= bootstrap_form_for Post.new, url: user_posts_path, method: :post, local: true, scope: :post do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Post title" %>
    <%= form.text_area :text %>
    <%= form.submit "Add Post" %>
  </div>
<% end %>
<br/>
<%= link_to "Back", user_posts_path %>
