<header>
  <h1>Post by <%= @user.name %></h1>
  <span>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter %></span>
  <hr/>
</header>

<div>
  <h2><%= @post.title %></h2>
  <P><%= @post.text %>
  <% @post.comments.each do |comment| %>
    <p>Username: <%= comment.text %></p>
  <% end %>
</div>